<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.buttflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body style="background:<%=color%>">
<div class="container">
    <div class="row center" id="form" >
        <h4>Montant investi en €</h4>
        <form class="col s12" method="post" action="/">
            <div class="row">
                <div class="input-field col s10">
                    <input  style="background:#FFFFFF" id="invested" name="invested" class="materialize-textarea">
                </div>
                <div class="input-field col s2">
                    <input class="btn waves-effect waves-light btn-large" type="submit" name="action" value="CALCUL">
                </div>
            </div>
        </form>
    </div>
    <div class="nomics-ticker-widget" data-name="Floki Inu (ERC-20)" data-base="FLOKI" data-quote="EUR"></div><script src="https://widget.nomics.com/embed.js"></script>
</div>
<div class="center">
    <h4><%=percent%></h4>
    <h2><%=amount%></h2>
    <h3><%=diff%></h3>
</div>
<script src="https://cdnjs.buttflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
